
<div class="text-center">
  <h1>Log in</h1>
</div>
  
<div class="container"> 
  <div class="text-center">
    <%= simple_form_for(:session, ulr: login_path)  do |f| %>
      <div class='form-inline'> 
        <%= f.input :username, label: false, placeholder: "Username" %>
        <%= f.input :password, label: false, placeholder: "Password" %></br></br>
      </div>
      <%= f.button :submit, 'Log in', class: 'btn btn-success' %>
    <% end %>

    <p> New user? <%= link_to "Sign up", new_user_path %>
  </div>
</div>
