<h1>Welcome to Chat</h1>

<p>You have succesfully signed up to chat.com, your username is <%= @user.username %>.<br>
</p>

<p> To login to the site, just follow this link: <%= @url %></p>

<p>Thanks for joining and have a great day!</p>


