<div class="text-center">
  <h2>User: <%= link_to current_user.username, user_path(current_user) %></h2>

  <%= link_to "Log out", logout_path, method: :delete, class: 'btn btn-warning' %>

  <div class="container">
    <div class="text-center">
      <h4>Users list</h4>
      <table class="table">
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user_path(id: user.id) %></td>
            <td><%= user.email %></td>
            <% if current_user.friendships.where(:friend_id => user.id).where(:user_id => current_user.id).empty? %>
              <td><%= link_to "Add Friend", friendships_path(:friend_id => user), method: :post, class: 'btn btn-info btn-xs' %></td>
            <% else %>
            <td><%= link_to "Remove", friendship_path(user), method: :delete, class: 'btn btn-danger btn-xs' %></td>
              
            <% end %>
          </tr>
          </br>
        <% end %>
      </table>
    </div>
  </div>

</div>