<div class="text-center">
  <h1>Sign up</h1>
</div>

<div class="container"> 
  <div class="text-left">
    <%= simple_form_for @user do |f| %>
      <%= f.input :username, label: false, placeholder: "Username" %>
      <%= f.input :email, label: false, placeholder: "Email" %>
      <%= f.input :password,label: false, placeholder: "Password" %>
      <%= f.input :password_confirmation, label: false, placeholder: "Password confirmation" %>
      <div class="text-center">
        <%= f.button :submit, class: 'btn btn-success' %>
    <% end %>

      <p>Already have account? <%= link_to "Log in", login_path %></p>
    </div>
  </div>
</div>