<div class="text-right">
  <%= link_to "Find Friends", users_path, method: :get %>
</div>

<div class='row'>
  <aside class="col-md-4">
    <section>
      <h4>Logged as: <%= link_to current_user.username, user_path(current_user) %></h4>
      <span><%= link_to "Log out", logout_path, method: :delete, class: 'btn btn-warning' %></span>
      <span><%= link_to "New post", new_post_path, class: 'btn btn-info' %><span>
    </section>

    <section>
      <h4>Your Friends</h4>
      <% if @user == current_user %>
        <ol>
          <% for user in @user.friends %>
            <li><%= link_to user.username, user_path(id: user.id) %>
            <span><%= link_to "Remove", friendship_path(user), method: :delete, class: 'btn btn-danger btn-xs' %></span></li>
          <% end %>
        </ol>
      <% end %>
    </section>
  </aside>

  <div class="col-md-8">
    <% if @user != current_user %>
      <h4>User: <%= @user.username %></h4>
    <% end %>

    <% @posts.each do |post| %>
    <strong><%= post.title %></strong></br>
    <%= post.text %></br>
      <% if @user == current_user %>
        <span><%= link_to "Edit", edit_post_path, class: 'btn btn-info btn-xs' %></span>
        <span><%= link_to "Delete", post_path(post), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "You sure?" } %></span></br>
      <% end %>
    <% end %>
  </div>
</div>

<%= @user.posts_count %>

<div class="text-center">
  <%= will_paginate @posts %>
</div>
