<div class='text-center'>
<h3>Edit post</h3>

  <div class="container"> 
    <div class="text-center">
      <%= simple_form_for @post do |f| %>
        <%= f.input :title, label: false, placeholder: "Title" %>
        <%= f.input :text, label: false, placeholder: "Text" %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>